* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #333;
}

.steps {
  margin: auto;
  margin-top: 15vh;
  width: 20rem;
  height: 10rem;
}
.numbers {
  display: flex;
  justify-content: space-between;
}
